---
layout: default
comments: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <!-- {{ content }} -->
    <input placeholder="..." id="in" type="text" width=100>
	<ol id="list"></ol>
	<script>
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		        var j = JSON.parse(this.responseText).links;
		        mulai(j);
		    }
		};
		xmlhttp.open("GET", "./daftarnya.json", true);
		xmlhttp.send();

		function mulai(list){
			var in_ = document.getElementById("in");

			function hapus(){
				document.body.removeChild(document.getElementById('list'));
				document.body.appendChild(document.createElement('ol')).id="list";
			}		

			function masukin(o){
				if (document.getElementById('li_sel')) document.getElementById('li_sel').parentNode.removeChild(document.getElementById('li_sel'));

				if (!o){
					var i=0;
					list.forEach(function(l){
						document.getElementById("list").appendChild(document.createElement("li")).id = "list_"+i;
						document.getElementById("list_"+i).innerHTML = "<a href='https://"+list[i]+"'>"+list[i]+" </a>";
						i++;
					});				
				} else {
					hapus();
					if (list[parseInt(o)-1]){
						document.getElementById("list").appendChild(document.createElement("li")).id = 'li_sel';
						document.getElementById('li_sel').innerHTML = "<a href='https://"+list[parseInt(o)-1]+"'>"+list[parseInt(o)-1]+" </a>";
						document.getElementById('li_sel').setAttribute('style', 'list-style:none;font-size:20pt;');
					}
				}
			}
			masukin();

			function pilah(j,v){
				mulai(list);
				if (in_.value!=''){
					hapus();
					masukin(v);
				}
			}

			function pilihin(){
				pilah(list, in_.value);
				this.removeEventListener("input", pilihin,false);
			}

			document.getElementById("in").addEventListener("input", pilihin, false);
		}
	</script>
  </div>

</article>

<div id="disqus_thread"></div>
	<script>
	    (function() { 
	        var d = document, s = d.createElement('script');
	        
	        s.src = 'https://amharfm-github-com-blog.disqus.com/embed.js';
	        
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>