<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

    <title>Tervetuloa Turunen!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/blog/assets/css/style.css?v=">
	<link rel="stylesheet" href="{{site.baseurl}}/css/style2.css?v=">
    
  </head>
  <body onload="muat()">
    <a id="skip-to-content" href="#content">Skip to the content.</a>
<!--a href="https://amharfm.github.io/blog/" style="text-decoration: none;">
	  <header style="height: 150px; background-color: transparent; background-image: none;"><iframe width="660" height="150" scrolling="no" src="{{site.baseurl}}/assets/em/gh_header/index.html" style="z-index: 0; position: absolute; top: 0px; overflow: hidden; border: none; left: 0px;"></iframe></header>
</a-->
	
	<a href="{{site.baseurl}}/" style="text-decoration:none">
    <header class="page-header" role="banner">
		
      <h1 class="project-name">Ruang Angkasa #3</h1>
      <h2 class="project-tagline" style="color:#fff;">Sofa Kontemplasi</h2>
    </header>
	  </a>
	  
    <main id="content" class="main-content" role="main">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">Tervetuloa Turunen!</h1>
    <p class="post-meta"><time datetime="2018-08-13T13:30:15+03:00" itemprop="datePublished">Aug 13, 2018</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p>Here are the questions asked by anyone in our group. However feel free to ask for more directly to me :-)</p>
    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>
    <div id="myBtnContainer" style="background-color:#F1F1F1; height:177px; overflow-y:scroll; font-size:12px;">
      <strong>Filter by keyword: (scroll)</strong>
      <button class="btn active" onclick="filterSelection('all')"> All</button>
      <button class="btn" onclick="filterSelection('glossary')">Glossary</button>
      <button class="btn" onclick="filterSelection('acalendar')">academic calendar</button>
      <button class="btn" onclick="filterSelection('airport')">airport</button>
      <button class="btn" onclick="filterSelection('apartment')">apartment</button>
      <button class="btn" onclick="filterSelection('appointment')">appointment</button>
      <button class="btn" onclick="filterSelection('ATM')">ATM / automaatti</button>
      <button class="btn" onclick="filterSelection('bankacc')">Finnish bank account</button>
      <button class="btn" onclick="filterSelection('bike')">Bike</button>
      <button class="btn" onclick="filterSelection('bus')">Bus</button>
      <button class="btn" onclick="filterSelection('card ')">card</button>
      <button class="btn" onclick="filterSelection('course')">course</button>
      <button class="btn" onclick="filterSelection('discount')">discount</button>
      <button class="btn" onclick="filterSelection('deposit')">deposit</button>
      <button class="btn" onclick="filterSelection('finnid')">Finnish ID</button>
      <button class="btn" onclick="filterSelection('frank')">frank</button>
      <button class="btn" onclick="filterSelection('fleamarket')">fleamarket / secondhand shop</button>
      <button class="btn" onclick="filterSelection('flight')">Flight</button>
      <button class="btn" onclick="filterSelection('furniture')">furniture</button>
      <button class="btn" onclick="filterSelection('guide')">Bonus Guide</button>
      <button class="btn" onclick="filterSelection('ill')">Ill</button>
      <button class="btn" onclick="filterSelection('Internet')">internet</button>
      <button class="btn" onclick="filterSelection('laundry')">laundry</button>
      <button class="btn" onclick="filterSelection('maistraati')">Maistraati / Local Register Office</button>
      <button class="btn" onclick="filterSelection('orientation')">orientation</button>
      <button class="btn" onclick="filterSelection('passikuvat')">Passport photo</button>
      <button class="btn" onclick="filterSelection('pharmacy')">pharmacy</button>
      <button class="btn" onclick="filterSelection('registration')">registration</button>
      <button class="btn" onclick="filterSelection('RP')">Residence Permit</button>
      <button class="btn" onclick="filterSelection('tyyfee')">TYY/Student Union Fee</button>
      <button class="btn" onclick="filterSelection('tyyinfo')">TYY Info Session</button>
      <button class="btn" onclick="filterSelection('sick')">Sick</button>
      <button class="btn" onclick="filterSelection('sim')">SIM card</button>
      <button class="btn" onclick="filterSelection('start')">start</button>
      <button class="btn" onclick="filterSelection('stucard')">Student Card</button>
      <button class="btn" onclick="filterSelection('transportation')">transportation</button>
      <button class="btn" onclick="filterSelection('tys')">TYS / Apartment organizers</button>
    </div>
    <hr>
    <p><strong>Tap/click the following line to open/close its section</strong></p>
    <div id="kontainer" class="container">
      <div class="filterDiv timeline">
        <div class="accordion">> What is the actual todo based on timeline? (zoom)</div>
        <div class="panel" style="width:700px;">
          <div class="mermaid">
            graph TD
            A((At homecountry)) 
            B[Prepare documents and <br>personal belongings]
            C[Look for apartment,<br> obtain the acceptance] 
            D[Arrival]
            Q[Come to TYS office<br>to get the key]
            S[Come in the apartment]
            I[Buy furniture, daily needs, <br>Campus Tour, City Tour]
            F[Open the Finnish bank account] 
            O[Present in Orientation Day <br> and faculty/department session]
            G[Present original <br> documents to DISCO]
            K[Obtain access to mail.utu.fi, seafile.utu.fi, <br> and nettiopsu.utu.fi for courses registration <br> from IT service]
            L[Obtain access to<br> digital student card from <br>frank.fi]
            P[Come to Student Welcome Fair, <br> Learn about student organizations]
            J[Complete TYY/<br>Student union fee]
            T[Receive the final email <br> of course registration]
            E[Complete the Finnish ID / <br>personal code]
            U[.]
            R((Start courses))

            A --> B
            A --> J
            B --> D
            A --> C
            C --> D
            D --> Q
            Q --> S
            E --> F
            U --> T
            T --> K
            J --> U
            G --> U
            S --> I
            S --> G
            S --> E
            U --> L
            K --> O
            O --> P
            P --> R

          </div>      
        </div>
      </div>
      <div class="filterDiv apartment tys">
          <div class="accordion">
            <p>> Important things to bring?</p>
          </div>
          <div class="panel">
            <p>1. Cash money in euro, especially in first few days</p>
            <p>2. Extra passport photos</p>
            <p>3. LAN/Network cable. Or buy when in Turku.</p>
          </div>
      </div>
      <div class="filterDiv apartment tys">
          <div class="accordion">
            <p>> Important things to do? (for me, a tutor) - <u>not updated</u><p>
          </div>
          <div class="panel">
            <table border=1>
              <tr><td><strong>Activity</strong></td><td><strong>Who has done</strong></td></tr>
              <tr><td>Remind him/her to register at the
              University of Turku in the Student
              Centre Disco (remind him/her to bring
              the ID!)</td><td>Trang</tr>
                          <tr><td>Remind him/her to sign the lease
              for the apartment, reminding that the
              doors will lock automatically, making
              a reclamation if needed, showing
              the laundry facilities, filling in the
              apartment form if your student intends
              live in a TYS apartment</td><td>Trang, Juan, Juhee</td></tr>
                          <tr><td>Discuss the need for a bank account
              and helping with it (check more
              information at TYY’s website)</td><td>Trang, Juan</td></tr>
                          <tr><td>Remind him/her to pay the TYY’s
              membership fee (compulsory only for
              degree students), ordering and picking
              up the student card. The students will
              receive the membership fee invoice via
              e-mail and information in advance</td><td>Juan, Trang</td></tr>
                          <tr><td>Show the campus and lecture halls
              and introducing the City of Turku and its attractions</td><td>-</td></tr>
                          <tr><td>Participate on the orientation</td><td>-
                          *Michelle (some agenda in the end of her orientation day)</td></tr>
                          <tr><td>Sign up courses</td><td>-</td></tr>
                          <tr><td>IT Issues (usernames, nettiopsu)</td><td>-</td></tr>
                          <tr><td>YTHS / FSHS (Finnish Student Health Services)</td><td>Trang</td></tr>
                          <tr><td>Authorities (Bank, Residence Permit, Finnish ID, post office)</td><td>Trang, Juan</td></tr>
                          <tr><td>Mailing Lists</td><td>-</td></tr>
                          <tr><td>Fleamarkets</td><td>Trang, Juan, Juhee</td></tr>
                          <tr><td>Get to know services provided by
              the university and TYY, informing about
              practicalities (such as student cafeterias,
              computer classes, sub-organisations,
              punctuality...)</td><td>-</td></tr>
                          <tr><td>Introduce your student to his/her
              own student organisation</td><td>-</td></tr>
            </table>
          </div>
      </div>
      <div class="filterDiv apartment tys">
          <div class="accordion">
            <p>> Need help to pick the key because of your arrival in the evening after the TYS office is closed?</p>
          </div>
          <div class="panel">
            <p>Let me know, hopefully I can help!</p>
          </div>
      </div>
      <div class="filterDiv tyyfee">
          <div class="accordion">
            > Need help to pay Student Union fee because your card is not accepted?</p>
          </div>
          <div class="panel">
            <p>My tutor offered me help so now it is my turn. Let me know if  After I pay on behalf of your name, forward the receipt (or remind me) to admission@utu.fi, mentioning my name for your payment</p>
          </div>
      </div>
      <div class="filterDiv transportation airport">
          <div class="accordion">
            <p>> What time does it usually take from the airport to Student village?</p>
          </div>
          <div class="panel">
            <p>Less or more 15 mins</p>
          </div>
      </div>
      <div class="filterDiv transportation bus flight airport bike fleamarket">
          <div class="accordion">
            <p>> What are transportations available in Turku?</p>
          </div>
          <div class="panel">
            <p>Föli Bus route is conveniently running on its <a href="http://foli.fi/en">website</a>. Recently the Vikingline collaborates with them to provide Turku city bike. I never tried it actually.</p>
            <p>Ever since I learned that <a href="http://onnibus.com">Onnibus.com</a> operates from Helsinki (Kamppi/station, lentoasema/airport, etc), I used to order flight only to Helsinki. Then, I connect it by from the airport to Kamppi, then bus to Turku to stop at Hämeenkatu. Neat!. By the way, this one is <a href="http://hsl.fi/en">HSL's website for Helsinki Bus.</a></p>
            <p>I found this flyer in TYS office:</p>
            <p align="center"><img src="{{site.baseurl}}/assets/img/bikez.jpeg" width="300"></p>
          </div>
      </div>
      <div class="filterDiv sick ill">
          <div class="accordion">
            <p>> What if I fall ill?</p>
          </div>
          <div class="panel">
            <p>My recommendation (learning from my personal experience), is to keep in touch with your classmates. TYKS and FSHS are probably far from your dorm. Update: The FSHS' emergency call now handles calls in English language</p>
          </div>
      </div>
      <div class="filterDiv stucard frank card discount">
          <div class="accordion">
            <p>> To get the Student Card</p>
          </div>
          <div class="panel">
            <p>1. Complete your TYY/Student payment</p>
            <p>2. Secure the receipt. Because it is a temporary replacement for the card, discounts can be accessed by showing the receipt to the cashier</p>
            <p>3. If you already have an active school email address, access digital card that is downloadable via <a href="frank.fi">Frank.fi</a>.</p>
            <p>4. If you want a physical one, it can also be ordered through the same website.</p>
            <p><strong>Update: </strong>Yes, our TYY payment and campus' system to recognize the payment takes time. But, I notice some of you might be waiting for -relatively- too long; thus to contact the admission office is a smart move. To wait patiently is too a smart move.</p>
            <p>Do not forget to update the Frank.fi app. <strong>This is not a free service anymore</strong></p>
          </div>
      </div>
      <div class="filterDiv bonus guide">
          <div class="accordion">
            <p>> Bonus Guide from LLEES 2017</p>
          </div>
          <div class="panel" style="width:700px;">
            <p><iframe src="https://docs.google.com/document/d/e/2PACX-1vQEk9Q3dZSxTJkgvBwb7BISbf8dJ4ubA5t_D5b-3bDNlXh6iF7md0JxKi3APBMNvSM2rkAHRO7t7Lwn/pub?embedded=true" frameborder="no" width="100%" height="600"></iframe></p>
            <p>Thanks to Diana for the google document and all who supported~</p>
          </div>
      </div>
      <div class="filterDiv passikuvat RP">
          <div class="accordion">
            <p>> 1e Passport Photo</p>
          </div>
          <div class="panel">
            <p>There's a passport photo booth which serves digital version of the photo, in <a href="https://goo.gl/maps/AokqungfPnk">Raisio</a>. I went there as I needed to go to Raisio's Police Station to extend my Residence Permit</p>
          </div>
      </div>
      <div class="filterDiv finnid maistraati">
          <div class="accordion">
            <p>> Finnish ID / personal identity code</p>
          </div>
          <div class="panel">
            <p>The code is actually additional codes next to your birthdate (as far as I know) that is obtained through the procedure in local register office as a foreigner. To get that, bring the residence permit along with passport and info about complete address of where you live in Turku (or other place). Perhaps it is wise to have a finnish phone number too at this point. They will register you and letters, bills, etc will come to the address you use in the form.</p>
            <p>By the way, the office has been moved. This is the google maps link: <a href="https://goo.gl/maps/st2e5epXFtL2">Maistraati</a>, and we <strong>do not need to make an appointment</strong> for this (in Turku).</p>
            <p><img src="{{site.baseurl}}/assets/img/maistraati.png"></p>
          </div>
      </div>
      <div class="filterDiv sim">
          <div class="accordion">
            <p>> Where can I buy a sim card? </p>
          </div>
          <div class="panel">
            <p>SIM cards are usually available in minimarkets (K-Market, R-kioski, etc.). Instruction to register a new number is in Finnish but not very unfamiliar to how a number is registered usually. Later, recharging the credits could be done in the same place, with Euro unit (for example, only 10e).</p>
          </div>
      </div>
      <div class="filterDiv tyyfee">
          <div class="accordion">
            <p>> Where should I go to get a receipt for student union fee?</p>
          </div>
          <div class="panel">
            <p>From what I understand, you actually can email the receipt (when you did the payment) to either Enni or Johanna (via admission@utu.fi), and ask for the receipt. Or, if the system has recognized your payment, you could try to access the digital version first through the app. It is on Frank.fi website. What I meant with digital version was a student card. The physical one can be requested in frank.fi too</p>
            <p>Admission office is located in the office named <a href="https://goo.gl/maps/oKcJVmhRGYM2"> DISCO or the international students affair</a>, near Feeniks/main library. Another solution is to email TYY themselves.
            <p>Here is the photo:</p>
            <p><img src="{{site.baseurl}}/assets/img/disco.jpeg"></p>
          </div>
      </div>
      <div class="filterDiv apartment">
          <div class="accordion">
            <p>> I want to change the dorm.. should I tell TYS about it?</p>
          </div>
          <div class="panel">
            <p>Yes, remember that it'll take time. Usually the plan B is to call them right away. There must be some paperwork to do too. 
            <p>Related to Finnish ID / personal code, remember that the office will register your address. In my mind, you can either wait until you move to another apartment, or revise your address later. I myself have never experienced in changing the address. Update: There is a paperwork for this in post office</p>
          </div>
      </div>
      <div class="filterDiv furniture fleamarket">
          <div class="accordion">
            <p>> Where can I buy secondhand furniture?</p>
          </div>
          <div class="panel">
            <p>Fleamarket is usually places named with <a href="https://www.google.com/maps/search/kirppis/@60.4558361,22.2729626,14z?hl=en">"kirppis"</a> as an ending. Other is <a href="https://goo.gl/maps/UQrWPMHbeFF2">UFF (clothing, even jacket for 1e), and <a href="https://goo.gl/maps/5hLp1DRhJCF2">Ekotori</a>.</p>

            <p>There you can buy a lot of things. LAN/Network cable is usually available there.</p>
            <p>Also, the <a href="https://www.tys.fi/facebook-groups-turku-part-1-flea-markets-giveaway/">Fleamarkets</a></p>
          </div>
      </div>
      <div class="filterDiv Internet">
          <div class="accordion">
            <p>> do I need to enter PIN numbers to get access to the Internet?</p>
          </div>
          <div class="panel">
            <p>It connects through DHCP, which means automatically. (i ve never experienced in connecting cable in student village, but in my dorm, it's easy). It is via cable, but we can create a hotspot via our own laptop after it's connected with cable. Simply, just connect the cable from the wall to our laptop and that's it.</p>
          </div>
      </div>
      <div class="filterDiv laundry">
          <div class="accordion">
            <p>> when I do the laundry in the dorm, should I bring my own detergent?</p>
          </div>
          <div class="panel">
            <p>Yup, and the softener</p>
          </div>
      </div>
      <div class="filterDiv bankacc">
          <div class="accordion">
            <p>> I was thinking I would open a Finnish bank account upon arriving. Do you have any recommendations?</p>
          </div>
          <div class="panel">
            <p>I do not have any recommendations. So this is only based on my experience. You have to make your own decision.</p>
            <p>I own säästopankki account. All things are in finnish. Agreement letters for OP bank are in English. Both offer us online account (to access via internet).</p>
            <p>Visa card for both cost some Extra monthly euros. OP took around 4e/month. Mine is around 2e. It was free last semester because I was younger than 27 :-). </p>
            <p>I have no clue for Nordea, except that many students talked abt Nordea, heheh 🙂.</p>
            <p>Nordea did not require Michelle to make an appointment, though!</p>
            <p>Don't forget to make an appointment for this too</p>
          </div>
      </div>
      <div class="filterDiv pharmacy">
          <div class="accordion">
            <p>> Where is the most popular pharmacy nearby student village? </p>
          </div>
          <div class="panel">
            <p>I do not know about the popularity, but "aptekki" are spread around campus. One of it is <a href="https://www.google.com/maps/search/aptekki/@60.4541605,22.2686156,14z?hl=en">Nummenmäen aptekki.</a></p>
          </div>
      </div>
      <div class="filterDiv course start">
          <div class="accordion">
            <p>> Do you remember which date the course will start? </p>
          </div>
          <div class="panel">
            <p>Some will start in the early september, some in the middle. I had Methodology 1 at 11.9.2017.</p>
          </div>
      </div>
      <div class="filterDiv acalendar orientation">
          <div class="accordion">
            <p>> Do you know when we will have that academic calendar?? </p>
          </div>
          <div class="panel">
            <p>Around orientation day's date. Usually any breaks in September and October are written too in academic calendar.</p>
          </div>
      </div>
      <div class="filterDiv ATM deposit">
          <div class="accordion">
            <p>> Info about ATM</p>
          </div>
          <div class="panel">
            <p>ATM near campus is available for deposit too</p>
          </div>
      </div>
      <div class="filterDiv furniture">
          <div class="accordion">
            <p>> Usually, what kind of things are in the house?</p>
          </div>
          <div class="panel">
            <p>Furniture is really based on your type of apartment. If it's unfurnished, it is empty. So you have to prepare to buy furniture.</p>
          </div>
      </div>
      <div class="filterDiv tyyinfo">
          <div class="accordion">
            <p>> TYY's Student organizations Information Session</p>
          </div>
          <div class="panel">
            <p>The event between August 20 - September 14 is a University of Turku's student organization introduction session. This 1-hour session gathers around 30 students to have TYY explained its role and activities on campus, especially for international students. If you are interested, let me know when you are available, then we will join with other group too.</p>
          </div>
      </div>
      <div class="filterDiv registration tyyfee orientation maistraati appointment">
          <div class="accordion">
            <p>> Information Recap for all (I)</p>
          </div>
          <div class="panel">
            <p>1. Registration ends at the end of August, but July 10th is the last day for new students applying to the program. 
            However, usually courses are open around August. I would be very glad to share my experience in studying courses I took last semesters. Hopefully it helps your Study Plan later.</p>
            <p>2. To do registration, which means to state that you are attending the following semester, you also need to pay for student union fee (around 107 e for 2 semesters). </p>
            Let me know if anyone gets difficulties in processing this payment. I myself did not have a Finnish bank account back then, so I paid through my own banking transfer. Two semesters have passed and now I realized that having the bank account (and its online banking feature) is very useful.</p>
            <p>3. Also, we all will meet at the Orientation Day (August 29-31), in which most information about new students will be given. 
            Last year, my tutor had us meet up to go to buy bus ticket package and other things. I wonder if we should also meet together some day in August</p>
            <p>4. "Maistraati"/Local registration office service will give you Finnish ID/acknowledge your residence permit.
            It is especially if you already have a place where you will stay in Turku, and an accessible phone number.</p>
            <p>5. Please re-check any documents needed to be delivered once you're here, from academic to non-academic-related ones.</p>
            <p>6. If you are unfamiliar, I feel that access to information in Finland is mostly text-based. Public service is usually handled in appointment-based.</p>
          </div>
      </div>

      <div class="filterDiv glossary">
          <div class="accordion">
            <p>> Glossary (pardon my Finnish)</p>
          </div>
          <div class="panel">
            <p>TYY ~ Student Union</p>
            <p>Maistraati ~ Local Register Office</p>
            <p>Kirppis ~ Secondhand</p>
            <p>Kauppatori ~ Market Square</p>
            <p>Kauppa ~ Shop</p>
            <p>Kauppakorkeakoulu ~ School of Economics</p>
          </div>
      </div>
  </div>
</div>

</article>

<div id="disqus_thread"></div>
  <script>
      (function() { 
          var d = document, s = d.createElement('script');
          
          s.src = 'https://amharfm-github-com-blog.disqus.com/embed.js';
          
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
  
  filterSelection("all")


  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }



  }

  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }

  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }

  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
    </main>
<script type="text/javascript" src="https://unpkg.com/mermaid@8.0.0-rc.8/dist/mermaid.min.js"></script>
    
  </body>
  <script type="text/javascript">
    var perpus;

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);     
            }
        }
        element.className = arr1.join(" ");
    }

    function filters(){
        filterSelection("all")

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    }




    function muat (){

        function cek_IE(iftrue,iffalse){
            var isIE = /*@cc_on!@*/false || !!document.documentMode;

            var ua = navigator.userAgent || navigator.vendor || window.opera;
            var isInstagram = (ua.indexOf('Instagram') > -1) ? true : false;
            // https://supergeekery.com/blog/detecting-the-instagram-in-app-browser

            if (isIE){
                iftrue();
            } else {
                if (isInstagram) {
                    window.document.body.classList.add('instagram-browser');
                    // alert(navigator.appVersion);
                    iftrue();
                } else {
                    iffalse();
                }
            }
        }

        
        function bikin_semua(){
            for (var i=0; i<document.getElementById('kontainer').children.length; i++){
              //console.log(document.getElementById('kontainer').children[i])

              document.getElementById('kontainer').children[i].setAttribute('id','faq_'+i)

              document.getElementById('kontainer').children[i].children[0].setAttribute('id','acc_'+i)
              document.getElementById('kontainer').children[i].children[1].setAttribute('id','panel_'+i)

              document.getElementById("acc_"+i).addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    } 
                });
            }

            cek_IE(
                function(){
                    document.getElementById("panel_0").innerHTML = "<img src='./proses.jpg' width=545>";
                },
                function(){
                    mermaid.initialize({
                        startOnLoad:true,
                        theme: 'forest'
                    });
                    mermaid.init();
                }
            )
        }

        bikin_semua({
          "faq":[],
          "katakunci":[
          'bankacc'
          ]
        });
        filters();
    }
        
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
  </script>
</html>